@keyframes toTopFromBottom1 {
    49% {
        transform: translate(100px, -100px);
    }

    50% {
        opacity: 0;
        transform: translate(-100px, 100px);
    }

    51% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounce2 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }
}
