
.default-btn {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    padding: 1px 18px;
    z-index: 1;
    background-color: $white-color;
    color: $primary-color;
    transition: 0.3s;
    opacity: 1;
    font-size: 22px;
    line-height: 42px;
    font-weight: 500;
    border-radius: 70px;
    transition: 0.5s;

    i {
        font-size: 28px;
        color: $primary-color;
        display: inline-block;
        margin-left: 30px;
        margin-right: 5px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
    }

    span {
        position: absolute;
        display: inline-block;
        width: 0;
        height: 0;
        background-color: #141417;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 1;
    }

    &:hover {
        color: #fff;

        span {
            width: 225%;
            height: 562.5px;
        }
    }
}