
.template-btn {
    padding: 1px 18px;
    font-size: 22px;
    line-height: 42px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    border-radius: 70px;
    overflow: hidden;
    transition: all 0.3s;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    i {
        font-size: 28px;
        color: $primary-color;
        display: inline-block;
        margin-left: 30px;
        margin-right: 5px;
        transform: rotate(45deg);
        position: relative;
        top: 5px;
        transition: 0.3s;
    }
}

.primary-btn {
    background-color: $white-color;
    color: $primary-color;
    transition: 0.3s;

    &::before {
        content: "";
        position: absolute;
        left: -90px;
        top: -135%;
        width: 190%;
        height: 135%;
        background-color: #000000;
        z-index: -1;
        border-radius: 50%;
        transition: all 0.3s;
    }

    &:hover {
        background-color: transparent;
        color: $white-color;
        i {
            color: $white-color;
        }
        &::before {
            top: -10px;
        }
    }
}