/********* Footer Page *********/

/********* Footer Section Start *********/
.al-footer-top-shape {
    background: radial-gradient(95.6% 141.23% at 0% 0.72%, #EF8E82 26.04%, #9952F9 51.04%, #F2C46E 100%);
    mix-blend-mode: lighten;
}


.al-footer-section {
    padding: 250px 0 25px 0;
    position: relative;
    z-index: 1;
    background: linear-gradient(165.98deg, #02274D 9.09%, #001B37 83.19%);
    clip-path: polygon(100% 11%, 100% 100%, 0 100%, 0 0);
    @include screen-768 {
        clip-path: polygon(100% 7%, 100% 100%, 0 100%, 0 0);
    }
    @include portrait-phone {
        clip-path: polygon(100% 4%, 100% 100%, 0 100%, 0 0);
    }
}

.al-footer-shape-01 {
    position: absolute;
    left: 0;
    bottom: 60px;

    @include screen-992 {
        display: none;
    }
}

.al-footer-shape-02 {
    position: absolute;
    right: 0;
    bottom: 60px;
    z-index: 1;

    @include screen-992 {
        bottom: 150px;
    }

    @include portrait-phone {
        bottom: 200px;
    }
}

.al-footer-shape-03 {
    position: absolute;
    right: 40px;
    bottom: 60px;
    z-index: 2;

    @include screen-992 {
        bottom: 150px;
    }

    @include portrait-phone {
        bottom: 200px;
        right: 5px;
    }
}

.al-footer-shape-04 {
    position: absolute;
    left: 40%;
    bottom: 260px;

    @include screen-992 {
        display: none;
    }
}

.al-footer-top {
    margin-bottom: 320px;

    @include screen-992 {
        margin-bottom: 400px;
    }

    @include portrait-phone {
        margin-bottom: 370px;
    }
}

.al-footer-widget-newsletter {
    @include screen-992 {
        text-align: center;
    }
}

.al-footer-widget-newsletter-title {
    h4 {
        font-weight: 700;
        color: $white-color;
        line-height: 61px;

        @include portrait-phone {
            line-height: 49px;
        }
    }
}

.al-footer-widget-newsletter-subtitle {
    p {
        font-size: 22px;
        color: rgba(255, 255, 255, 0.90);
        line-height: 36px;
        max-width: 400px;

        @include screen-992 {
            margin: 0 auto;
        }

        @include portrait-phone {
            font-size: 20px;
            line-height: 49px;
        }
    }
}


.al-footer-widget-email-wrapper {
    margin-top: 26px;
    margin-bottom: 50px;
    border: 2px solid $white-color;
    border-radius: 50px;
    overflow: hidden;
    background-color: transparent;
    width: fit-content;
    display: inline-flex;

    .al-email-input {
        color: $white-color;
        padding: 18px;
        background: transparent;
        font-size: 20px;
        font-weight: 500;
        line-height: 36px;
        border: none;
        outline: none;
        width: 280px;

        @include portrait-phone {
            width: 240px;
        }
    }

    .al-email-button {
        background: white;
        border: none;
        border-radius: 50%;
        width: 57px;
        height: 57px;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;

        i {
            font-size: 20px;
            color: $primary-color;
        }

        &:hover {
            background-color: #7C458F;

            i {
                color: $white-color;
            }
        }
    }

    @include screen-992 {
        justify-content: center;
    }
}

.al-email-input::placeholder {
    color: $white-color;
    opacity: 1;
}


.al-footer-widget-social {
    ul {
        @include screen-992 {
            justify-content: center;
        }

        li {
            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 64px;
                height: 64px;
                border-radius: 50%;
                font-size: 13px;
                background-color: $white-color;

                @include portrait-phone {
                    width: 55px;
                    height: 55px;
                }

                i {
                    color: #191957;
                    font-size: 30px;
                }

                transition: 0.3s;

                &:hover {
                    background-color: #7C458F;

                    i {
                        color: $white-color;
                    }
                }
            }
        }
    }
}

.al-footer-widget-content-none {
    @include portrait-phone {
        display: none;
    }
}

.al-footer-widget-title {
    h5 {
        font-size: 19px;
        line-height: 34px;
        color: $white-color;
        font-weight: 700;

        @include large-screen {
            font-size: 17px;
        }
    }
}

.al-footer-widget-content {
    li {
        a {
            font-size: 20px;
            line-height: 64px;
            color: $white-color;
            font-weight: 500;
            transition: 0.3s;

            &:hover {
                color: #7C458F;
            }

            @include screen-768 {
                line-height: 50px;
            }
        }
    }
}

.al-footer-widget-accordion {
    display: none;

    @include portrait-phone {
        display: block;
    }
}

.al-footer-accordion {
    .accordion-item {
        border: 0;
        margin-bottom: 25px;
        background-color: transparent;
        border-bottom: 2px solid rgba(255, 255, 255, 0.20);

        .accordion-header {
            margin-bottom: 20px;

            .accordion-button {
                font-size: 19px;
                line-height: 34px;
                font-weight: 700;
                background-color: transparent;
                color: $white-color;
                outline: none;
                border: none;
                padding: 0 0 2px 0;

                &::after {
                    background: none;
                    content: "\f107";
                    font-family: "FontAwesome";
                    width: auto;
                    height: auto;
                }
            }

            .accordion-button:focus {
                box-shadow: none;
            }

            .accordion-button:not(.collapsed) {
                color: $white-color;
                box-shadow: 0 0 0 0;
            }

            .accordion-button:not(.collapsed)::after {
                transform: rotate(180deg) !important;
                width: 55px;
                height: 55px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(111, 104, 191, 0.10);
                border-radius: 50%;
                position: relative;
                right: -12px;
            }
        }

        .accordion-body {
            padding: 0 20px 0 0;

            p {
                font-size: 22px;
                line-height: 37px;
                color: $primary-color;
                font-weight: 400;
            }
        }
    }
}

.al-footer-accordion .accordion-item:last-child {
    border-bottom: none;
}

.al-footer-copyright-content {
    display: flex;

    @include screen-768 {
        display: block;
        text-align: center;
    }
}

.al-footer-copyright {
    p {
        font-size: 19px;
        line-height: 34px;
        color: rgba(255, 255, 255, 0.60);
    }
}

.al-footer-copyright-item {
    ul {
        list-style-type: disc;

        @include screen-768 {
            justify-content: center;
        }

        li {
            a {
                font-size: 19px;
                line-height: 34px;
                color: rgba(255, 255, 255, 0.60);
                transition: 0.3s;

                &:hover {
                    color: #7C458F;
                }
            }
        }
    }
}

.al-footer-copyright-item ul li::marker {
    color: rgba(255, 255, 255, 0.60);
}

/********* Footer Section End *********/