/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


//variable
$body-font: "Outfit", sans-serif;
$primary-color: #033365;
$template-color: #334D88;
$white-color: #ffffff;
$header-top-bg: #02274D;
$about-bg: #F9EEF3;
$reward-card-bg: #F8CAC9;
$reward-card-bg-2: #9EE7B0;


img {
    max-width: 100%;
}

* {
    transition: 0.3s;
}

.al-container-875 {
    max-width: 875px;
    margin: auto;
    padding: 0 30px;
}

.al-container {
    max-width: 1500px;
    margin: auto;
    padding: 0 30px;
}

.al-container-1540 {
    max-width: 1540px;
    margin: auto;
    padding: 0 30px;
}

.al-container-1680 {
    max-width: 1680px;
    margin: auto;
    padding: 0 30px;
}