/********* base file **********/
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
img {
  max-width: 100%; }

* {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.al-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 30px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  line-height: 28px;
  font-weight: 400; }

p {
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #033365; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  border: 0;
  background-color: transparent; }

input {
  outline: 0; }

select {
  outline: 0;
  border: 0; }

h1 {
  font-size: 88px; }

h2 {
  font-size: 60px; }

h3 {
  font-size: 55px; }

h4 {
  font-size: 37px; }

h5 {
  font-size: 22px; }

h6 {
  font-size: 19px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #033365;
  margin-bottom: 0; }

.mt100 {
  margin-top: 100px; }

.mt90 {
  margin-top: 90px; }

.mt80 {
  margin-top: 80px; }

.mt70 {
  margin-top: 70px; }

.mt60 {
  margin-top: 60px; }

.mt50 {
  margin-top: 50px; }

.mt40 {
  margin-top: 40px; }

.mt30 {
  margin-top: 30px; }

.mt20 {
  margin-top: 20px; }

.mt10 {
  margin-top: 10px; }

.mb100 {
  margin-bottom: 100px; }

.mb90 {
  margin-bottom: 90px; }

.mb80 {
  margin-bottom: 80px; }

.mb70 {
  margin-bottom: 70px; }

.mb60 {
  margin-bottom: 60px; }

.mb50 {
  margin-bottom: 50px; }

.mb40 {
  margin-bottom: 40px; }

.mb30 {
  margin-bottom: 30px; }

.mb20 {
  margin-bottom: 20px; }

.mb10 {
  margin-bottom: 10px; }

/******** components file ********/
/******Header Page*********/
/******Header Home page *********/
/******Header Home page Top Start *********/
.al-header-top {
  background-color: #02274D;
  padding: 11px 0; }

.al-header-top-left-content p {
  font-weight: 500;
  color: #ffffff;
  font-size: 16px; }
  @media (max-width: 575.98px) {
    .al-header-top-left-content p {
      font-size: 14px; } }
  .al-header-top-left-content p span {
    font-weight: 700; }
  .al-header-top-left-content p a {
    font-weight: 700;
    text-decoration: underline;
    color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .al-header-top-left-content p a:hover {
      color: #7C458F; }

@media (max-width: 991.98px) {
  .al-header-top-left-content {
    text-align: center; } }

.al-header-top-right-content a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .al-header-top-right-content a:hover {
    color: #7C458F; }

@media (max-width: 575.98px) {
  .al-header-top-right-content {
    display: none !important; } }

/******Header Home page Top End *********/
/******Header Home page Bottom Start *********/
.al-header-bottom {
  background-color: #7C458F;
  padding: 15px 0; }

@media (max-width: 767.98px) {
  .al-container-bottom {
    padding: 0 30px; } }

.al-header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px; }
  .al-header-nav ul li {
    position: relative;
    z-index: 20; }
    .al-header-nav ul li a {
      font-size: 19px;
      font-weight: 500;
      display: inline-block;
      color: #033365; }
    .al-header-nav ul li i {
      font-size: 16px;
      margin-top: 3px;
      margin-left: 10px;
      color: #033365; }
    .al-header-nav ul li .submenu-wrapper {
      position: absolute;
      right: -20px;
      top: calc(100% + 19px);
      min-width: 200px;
      display: block;
      background: #ffffff;
      border: 1px solid #e5e7eb;
      border-radius: 6px;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      padding-left: 0; }
      .al-header-nav ul li .submenu-wrapper a {
        min-width: 260px;
        padding: 10px 25px;
        text-transform: capitalize;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .al-header-nav ul li .submenu-wrapper a:hover {
          background-color: #f3f4f6; }
    .al-header-nav ul li:hover .submenu-wrapper {
      top: 100%;
      opacity: 1;
      visibility: visible; }

.al-header-btn-log {
  font-size: 19px;
  font-weight: 500;
  color: #033365; }

.al-header-btn-sign {
  font-size: 19px;
  font-weight: 500;
  color: #033365;
  background: -webkit-linear-gradient(180.87deg, rgba(255, 255, 255, 0.5) 7.91%, #FFFFFF 99.27%);
  background: -o-linear-gradient(180.87deg, rgba(255, 255, 255, 0.5) 7.91%, #FFFFFF 99.27%);
  background: linear-gradient(269.13deg, rgba(255, 255, 255, 0.5) 7.91%, #FFFFFF 99.27%);
  padding: 12px 35px;
  border-radius: 70px; }

.al-header-user {
  width: 45px;
  height: 45px;
  border-radius: 70px;
  background: -webkit-linear-gradient(180.21deg, rgba(255, 255, 255, 0.4) 7.95%, rgba(255, 255, 255, 0.7) 99.82%);
  background: -o-linear-gradient(180.21deg, rgba(255, 255, 255, 0.4) 7.95%, rgba(255, 255, 255, 0.7) 99.82%);
  background: linear-gradient(269.79deg, rgba(255, 255, 255, 0.4) 7.95%, rgba(255, 255, 255, 0.7) 99.82%);
  opacity: 0.7;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mobile-toggle .header_toggle_btn span {
  width: 32px;
  height: 2px;
  display: block;
  background: #02274D; }
  .mobile-toggle .header_toggle_btn span + span {
    margin-top: 8px; }

/******Header Home page Bottom End *********/
/************************ mobile menu start ****************/
.mobile-menu {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -410px;
  background-color: #ffffff;
  z-index: 60;
  padding: 18px 24px;
  overflow-y: scroll;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (max-width: 575.98px) {
    .mobile-menu {
      width: 280px; } }
  .mobile-menu .close {
    position: absolute;
    right: 37px;
    top: 20px;
    color: #033365; }
  .mobile-menu .mobile-nav-menu {
    margin-top: 20px; }
    .mobile-menu .mobile-nav-menu li + li {
      border-top: 1px solid #E8E8E8; }
    .mobile-menu .mobile-nav-menu li a {
      display: inline-block;
      color: #033365;
      padding: 15px 0; }
    .mobile-menu .mobile-nav-menu li.has-submenu {
      position: relative; }
      .mobile-menu .mobile-nav-menu li.has-submenu > i {
        position: absolute;
        right: 0;
        top: 15px;
        padding: 8px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .mobile-menu .mobile-nav-menu li.has-submenu > i.icon-rotate {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
      .mobile-menu .mobile-nav-menu li.has-submenu > .submenu-wrapper {
        padding-left: 15px;
        display: none;
        -webkit-transition: initial;
        -o-transition: initial;
        transition: initial; }
  .mobile-menu.active {
    right: 0; }

/******Header Home page *********/
.default-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  padding: 1px 18px;
  z-index: 1;
  background-color: #ffffff;
  color: #033365;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  font-size: 22px;
  line-height: 42px;
  font-weight: 500;
  border-radius: 70px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .default-btn i {
    font-size: 28px;
    color: #033365;
    display: inline-block;
    margin-left: 30px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .default-btn span {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    background-color: #141417;
    -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 1; }
  .default-btn:hover {
    color: #ffffff; }
    .default-btn:hover i {
      color: #ffffff; }
    .default-btn:hover span {
      width: 225%;
      height: 562.5px; }
    .default-btn:hover i {
      -webkit-animation: 0.4s toTopFromBottom1 forwards;
      animation: 0.4s toTopFromBottom1 forwards; }

/********* Footer Page *********/
/********* Footer Section Start *********/
.al-footer-section {
  padding: 500px 0 25px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.al-footer-shape-01 {
  position: absolute;
  left: 0;
  bottom: 60px; }
  @media (max-width: 991.98px) {
    .al-footer-shape-01 {
      display: none; } }

.al-footer-shape-02 {
  position: absolute;
  right: 0;
  bottom: 60px;
  z-index: 1; }
  @media (max-width: 991.98px) {
    .al-footer-shape-02 {
      display: none; } }

.al-footer-shape-03 {
  position: absolute;
  right: 40px;
  bottom: 60px;
  z-index: 2; }
  @media (max-width: 991.98px) {
    .al-footer-shape-03 {
      display: none; } }

.al-footer-shape-04 {
  position: absolute;
  left: 40%;
  bottom: 260px; }
  @media (max-width: 991.98px) {
    .al-footer-shape-04 {
      display: none; } }

.al-footer-top {
  margin-bottom: 320px; }

@media (max-width: 991.98px) {
  .al-footer-widget-newsletter {
    text-align: center; } }

.al-footer-widget-newsletter-title h4 {
  font-weight: 700;
  color: #ffffff;
  line-height: 61px; }
  @media (max-width: 575.98px) {
    .al-footer-widget-newsletter-title h4 {
      line-height: 49px; } }

.al-footer-widget-newsletter-subtitle p {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 36px;
  max-width: 400px; }
  @media (max-width: 991.98px) {
    .al-footer-widget-newsletter-subtitle p {
      margin: 0 auto; } }
  @media (max-width: 575.98px) {
    .al-footer-widget-newsletter-subtitle p {
      font-size: 20px;
      line-height: 49px; } }

.al-footer-widget-email-wrapper {
  margin-top: 26px;
  margin-bottom: 50px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  overflow: hidden;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .al-footer-widget-email-wrapper .al-email-input {
    color: #ffffff;
    padding: 18px;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    border: none;
    outline: none;
    width: 280px; }
    @media (max-width: 575.98px) {
      .al-footer-widget-email-wrapper .al-email-input {
        width: 240px; } }
  .al-footer-widget-email-wrapper .al-email-button {
    background: white;
    border: none;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .al-footer-widget-email-wrapper .al-email-button i {
      font-size: 20px;
      color: #033365; }
    .al-footer-widget-email-wrapper .al-email-button:hover {
      background-color: #7C458F; }
      .al-footer-widget-email-wrapper .al-email-button:hover i {
        color: #ffffff; }
  @media (max-width: 991.98px) {
    .al-footer-widget-email-wrapper {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.al-email-input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1; }

.al-email-input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1; }

.al-email-input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1; }

.al-email-input::placeholder {
  color: #ffffff;
  opacity: 1; }

@media (max-width: 991.98px) {
  .al-footer-widget-social ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.al-footer-widget-social ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 13px;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (max-width: 575.98px) {
    .al-footer-widget-social ul li a {
      width: 55px;
      height: 55px; } }
  .al-footer-widget-social ul li a i {
    color: #191957;
    font-size: 30px; }
  .al-footer-widget-social ul li a:hover {
    background-color: #7C458F; }
    .al-footer-widget-social ul li a:hover i {
      color: #ffffff; }

.al-footer-widget-title h5 {
  font-size: 19px;
  line-height: 34px;
  color: #ffffff;
  font-weight: 700; }

.al-footer-widget-content li a {
  font-size: 20px;
  line-height: 64px;
  color: #ffffff;
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .al-footer-widget-content li a:hover {
    color: #7C458F; }

.al-footer-copyright-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767.98px) {
    .al-footer-copyright-content {
      display: block;
      text-align: center; } }

.al-footer-copyright p {
  font-size: 19px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.6); }

.al-footer-copyright-item ul {
  list-style-type: disc; }
  @media (max-width: 767.98px) {
    .al-footer-copyright-item ul {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .al-footer-copyright-item ul li a {
    font-size: 19px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .al-footer-copyright-item ul li a:hover {
      color: #7C458F; }

.al-footer-copyright-item ul li::marker {
  color: rgba(255, 255, 255, 0.6); }

/********* Footer Section End *********/
/******** pages file **********/
/******Home Page*********/
/****** Card Section Start *********/
.al-card-section {
  padding: 60px 0;
  background-color: green; }

.card-slider {
  margin-left: 250px; }

.al-card-content {
  background-color: #ffffff;
  border-radius: 28px; }

.al-card-content-thumb img {
  width: 100%;
  border-radius: 28px 28px 0 0; }

.al-card-content-title {
  text-align: center;
  padding: 20px 0; }
  .al-card-content-title h6 {
    font-size: 20px;
    line-height: 28px; }

/****** Card Section End *********/
/****** About Section Start *********/
.al-about-section {
  background-color: #F9EEF3;
  padding: 75px 0 110px 0; }

.al-about-top-subtitle h6 {
  display: inline-block;
  position: relative; }
  .al-about-top-subtitle h6 span {
    background: -webkit-linear-gradient(351.17deg, #9F56B9 38.91%, #E9447B 57.22%);
    background: -o-linear-gradient(351.17deg, #9F56B9 38.91%, #E9447B 57.22%);
    background: linear-gradient(98.83deg, #9F56B9 38.91%, #E9447B 57.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; }
  .al-about-top-subtitle h6 img {
    position: absolute;
    right: -35px;
    top: -18px; }
    @media (max-width: 575.98px) {
      .al-about-top-subtitle h6 img {
        right: 8px;
        top: 15px; } }
  @media (max-width: 575.98px) {
    .al-about-top-subtitle h6 {
      font-size: 18px;
      max-width: 245px; } }

.al-about-top-title {
  margin-top: 10px;
  margin-bottom: 16px; }
  .al-about-top-title h2 {
    line-height: 61px; }
    .al-about-top-title h2 span {
      color: #7C458F; }
    @media (max-width: 575.98px) {
      .al-about-top-title h2 {
        font-size: 45px;
        line-height: 43px; } }

.al-about-para p {
  font-size: 24px;
  line-height: 36px;
  max-width: 750px;
  margin: 0 auto; }
  @media (max-width: 575.98px) {
    .al-about-para p {
      font-size: 20px;
      line-height: 30px; } }

.our-slider {
  padding: 0 120px;
  position: relative; }
  .our-slider::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 246px;
    height: 100%;
    background: red; }
  .our-slider::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 246px;
    height: 100%;
    background: red; }

.al-about-card {
  background-color: #ffffff;
  padding: 43px 35px;
  border-radius: 32px;
  text-align: center; }

.al-about-card-title {
  margin-top: 42px; }
  .al-about-card-title h5 {
    font-size: 21px;
    line-height: 30px;
    font-weight: 500; }
    @media (max-width: 1260px) {
      .al-about-card-title h5 {
        font-size: 19px;
        line-height: 22px; } }
    @media (max-width: 991.98px) {
      .al-about-card-title h5 {
        font-size: 14px; } }
    @media (max-width: 767.98px) {
      .al-about-card-title h5 {
        font-size: 20px; } }

@media (max-width: 575.98px) {
  .al-about-btn {
    display: none; } }

/****** About Section End *********/
/****** Reward Section Start *********/
.al-reward-section {
  padding: 70px 0; }

.al-reward-top {
  margin-bottom: 60px; }
  @media (max-width: 767.98px) {
    .al-reward-top {
      margin-bottom: 37px; } }

.al-reward-top-title h2 {
  line-height: 61px;
  max-width: 650px;
  margin: 0 auto; }
  .al-reward-top-title h2 span {
    color: #7C458F; }
  @media (max-width: 767.98px) {
    .al-reward-top-title h2 {
      font-size: 50px;
      line-height: 50px; } }
  @media (max-width: 575.98px) {
    .al-reward-top-title h2 {
      font-size: 36px;
      line-height: 43px; } }

.al-reward-para p {
  font-size: 24px;
  line-height: 36px; }
  @media (max-width: 575.98px) {
    .al-reward-para p {
      font-size: 20px;
      line-height: 29px; } }

.al-reward-card {
  background-color: #F8CAC9;
  padding: 60px 25px 30px 25px;
  border-radius: 30px; }
  @media (max-width: 1399.98px) {
    .al-reward-card {
      padding: 50px 15px 25px 20px; } }
  @media (max-width: 767.98px) {
    .al-reward-card {
      padding: 30px 10px 15px 15px; } }

.al-reward-card-color {
  background-color: #9EE7B0; }

.al-reward-card-content-title h5 {
  font-size: 22px; }

.al-reward-card-content-title h6 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500; }
  @media (max-width: 1460px) {
    .al-reward-card-content-title h6 {
      font-size: 15px; } }

.al-reward-card-content-icon a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .al-reward-card-content-icon a i {
    color: #033365;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .al-reward-card-content-icon a:hover {
    background-color: #7C458F; }
    .al-reward-card-content-icon a:hover i {
      color: #ffffff; }

/****** Reward Section End *********/
/****** Faq Section Start *********/
.al-faq-section {
  padding: 35px 0 60px 0; }

.al-faq-top {
  margin-bottom: 70px; }
  @media (max-width: 991.98px) {
    .al-faq-top {
      margin-bottom: 50px; } }
  @media (max-width: 575.98px) {
    .al-faq-top {
      margin-bottom: 30px; } }
  .al-faq-top h2 {
    line-height: 61px;
    max-width: 480px;
    margin: 0 auto; }
    @media (max-width: 575.98px) {
      .al-faq-top h2 {
        font-size: 40px;
        line-height: 45px; } }

.al-faq-thumb {
  margin-left: 75px; }
  @media (max-width: 1399.98px) {
    .al-faq-thumb {
      margin-left: 0; } }
  @media (max-width: 991.98px) {
    .al-faq-thumb img {
      width: 100%; } }

.al-faq-accordion .accordion-item {
  border: 0;
  margin-bottom: 15px; }
  .al-faq-accordion .accordion-item .accordion-header .accordion-button {
    font-size: 22px;
    line-height: 40px;
    font-weight: 600;
    background: transparent;
    color: #033365;
    outline: none;
    border: none;
    padding: 0 0 27px 0;
    max-width: 600px; }
    @media (max-width: 1050px) {
      .al-faq-accordion .accordion-item .accordion-header .accordion-button {
        padding: 0 0 5px 0;
        font-size: 20px;
        line-height: 28px; } }
    @media (max-width: 991.98px) {
      .al-faq-accordion .accordion-item .accordion-header .accordion-button {
        max-width: 100%; } }
    .al-faq-accordion .accordion-item .accordion-header .accordion-button::after {
      background: none;
      content: "\f107";
      font-family: "FontAwesome";
      width: auto;
      height: auto; }
  .al-faq-accordion .accordion-item .accordion-header .accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .al-faq-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    color: #A040C1;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0; }
  .al-faq-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
    -webkit-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
    width: 80px;
    height: 80px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(111, 104, 191, 0.1);
    border-radius: 50%;
    position: relative;
    right: -32px; }
    @media (max-width: 1399.98px) {
      .al-faq-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
        width: 60px;
        height: 60px;
        right: -25px; } }
    @media (max-width: 767.98px) {
      .al-faq-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
        width: 45px;
        height: 45px;
        right: -17px; } }
  .al-faq-accordion .accordion-item .accordion-body {
    padding: 0 80px 0 0; }
    @media (max-width: 1050px) {
      .al-faq-accordion .accordion-item .accordion-body {
        padding: 0 40px 0 0; } }
    @media (max-width: 575.98px) {
      .al-faq-accordion .accordion-item .accordion-body {
        padding: 0 10px 0 0; } }
    .al-faq-accordion .accordion-item .accordion-body p {
      font-size: 22px;
      line-height: 37px;
      color: #033365;
      font-weight: 400; }
      @media (max-width: 575.98px) {
        .al-faq-accordion .accordion-item .accordion-body p {
          font-size: 18px;
          line-height: 31px; } }

.al-faq-btn a {
  text-decoration: underline;
  color: #033365;
  font-size: 22px;
  font-weight: 500;
  line-height: 44px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .al-faq-btn a:hover {
    color: #7C458F; }

/****** Faq Section End *********/
/****** Deal Section Start *********/
.al-deal-section {
  padding: 120px 0; }

.al-deal-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  position: relative;
  z-index: 10;
  padding: 1px 0 10px 0; }
  @media (max-width: 1050px) {
    .al-deal-item {
      padding: 36px 20px 50px 0; } }

.al-deal-shape {
  position: absolute;
  top: -60px;
  left: 150px; }
  @media (max-width: 1199.98px) {
    .al-deal-shape {
      display: none; } }

.al-deal-infinity {
  position: absolute;
  bottom: -60px;
  left: 0px;
  z-index: -1; }
  @media (max-width: 1199.98px) {
    .al-deal-infinity {
      display: none; } }

.al-deal-content {
  margin-left: 120px; }
  @media (max-width: 1199.98px) {
    .al-deal-content {
      margin-left: 30px; } }

.al-deal-content-subtitle h6 {
  line-height: 24px; }
  @media (max-width: 575.98px) {
    .al-deal-content-subtitle h6 {
      font-size: 21px;
      line-height: 28px; } }

.al-deal-content-title {
  margin-top: 17px;
  margin-bottom: 40px; }
  .al-deal-content-title h3 {
    line-height: 61px;
    max-width: 550px; }
    @media (max-width: 1199.98px) {
      .al-deal-content-title h3 {
        font-size: 45px; } }
    @media (max-width: 575.98px) {
      .al-deal-content-title h3 {
        font-size: 35px;
        line-height: 42px; } }

.al-deal-thumb {
  margin-bottom: -80px; }
  @media (max-width: 991.98px) {
    .al-deal-thumb {
      margin-bottom: 40px; } }
  @media (max-width: 575.98px) {
    .al-deal-thumb {
      margin-left: -20px;
      margin-right: -22px; } }

@media (max-width: 400px) {
  .al-deal-btn {
    margin-left: 10px; } }

/****** Deal Section End *********/
/******** theme file **********/
@-webkit-keyframes toTopFromBottom1 {
  49% {
    -webkit-transform: translate(100px, -100px);
    transform: translate(100px, -100px); }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px); }
  51% {
    opacity: 1; } }
@keyframes toTopFromBottom1 {
  49% {
    -webkit-transform: translate(100px, -100px);
    transform: translate(100px, -100px); }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px); }
  51% {
    opacity: 1; } }
