/********* base file **********/
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
img {
  max-width: 100%; }

* {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.al-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 30px; }

.al-container-1540 {
  max-width: 1540px;
  margin: auto;
  padding: 0 30px; }

.al-container-1680 {
  max-width: 1680px;
  margin: auto;
  padding: 0 30px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  line-height: 28px;
  font-weight: 400; }

p {
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #033365; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

button {
  border: 0;
  background-color: transparent; }

input {
  outline: 0; }

select {
  outline: 0;
  border: 0; }

/******Scroll Top Button*********/
.scroll-top-btn {
  width: 50px;
  height: 50px;
  background-color: #141417;
  border-radius: 5px;
  border: none;
  position: fixed;
  bottom: 70px;
  right: 40px;
  z-index: 50;
  font-size: 22px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .scroll-top-btn i {
    color: #ffffff; }
  .scroll-top-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(352.7deg, #AF59CC 16.54%, #E9447B 71.36%);
    background: -o-linear-gradient(352.7deg, #AF59CC 16.54%, #E9447B 71.36%);
    background: linear-gradient(97.3deg, #AF59CC 16.54%, #E9447B 71.36%);
    color: #fff;
    z-index: -1;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .scroll-top-btn:hover i {
    color: #ffffff; }
  .scroll-top-btn:hover::before {
    opacity: 1; }

h1 {
  font-size: 88px; }

h2 {
  font-size: 60px; }

h3 {
  font-size: 55px; }

h4 {
  font-size: 37px; }

h5 {
  font-size: 22px; }

h6 {
  font-size: 19px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: #033365;
  margin-bottom: 0; }

.mt100 {
  margin-top: 100px; }

.mt90 {
  margin-top: 90px; }

.mt80 {
  margin-top: 80px; }

.mt70 {
  margin-top: 70px; }

.mt60 {
  margin-top: 60px; }

.mt50 {
  margin-top: 50px; }

.mt40 {
  margin-top: 40px; }

.mt30 {
  margin-top: 30px; }

.mt20 {
  margin-top: 20px; }

.mt10 {
  margin-top: 10px; }

.mb100 {
  margin-bottom: 100px; }

.mb90 {
  margin-bottom: 90px; }

.mb80 {
  margin-bottom: 80px; }

.mb70 {
  margin-bottom: 70px; }

.mb60 {
  margin-bottom: 60px; }

.mb50 {
  margin-bottom: 50px; }

.mb40 {
  margin-bottom: 40px; }

.mb30 {
  margin-bottom: 30px; }

.mb20 {
  margin-bottom: 20px; }

.mb10 {
  margin-bottom: 10px; }

/******** components file ********/
/******Header Page*********/
/******Header Home page *********/
/******Header Home page Top Start *********/
.al-header-top {
  background-color: #02274D;
  padding: 11px 0; }

.al-header-top-container {
  padding: 0 10px; }

.al-header-top-left-content p {
  font-weight: 500;
  color: #ffffff;
  font-size: 16px; }
  @media (max-width: 575.98px) {
    .al-header-top-left-content p {
      font-size: 15px; } }
  .al-header-top-left-content p span {
    font-weight: 700; }
  .al-header-top-left-content p a {
    font-weight: 700;
    text-decoration: underline;
    color: #ffffff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .al-header-top-left-content p a:hover {
      color: #7C458F; }

@media (max-width: 991.98px) {
  .al-header-top-left-content {
    text-align: center; } }

.al-header-top-right-content a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .al-header-top-right-content a:hover {
    color: #7C458F; }

@media (max-width: 575.98px) {
  .al-header-top-right-content {
    display: none !important; } }

/******Header Home page Top End *********/
/******Header Home page Bottom Start *********/
.al-header-bottom {
  padding: 15px 0;
  position: relative;
  z-index: 2; }

@media (max-width: 767.98px) {
  .al-container-bottom {
    padding: 0 30px; } }

.al-header-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 60px; }
  .al-header-nav > ul > li {
    z-index: 20;
    position: relative; }
    .al-header-nav > ul > li.has-submenu::after {
      content: '\f107';
      position: absolute;
      font-weight: 600;
      font-family: 'FontAwesome';
      right: -26px;
      top: 1px;
      cursor: pointer; }
    .al-header-nav > ul > li a {
      font-size: 19px;
      font-weight: 500;
      display: block;
      color: #033365;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .al-header-nav > ul > li .submenu-wrapper {
      position: absolute;
      right: -147px;
      top: calc(100% + 19px);
      min-width: 200px;
      display: block;
      background: #ffffff;
      border: 1px solid #e5e7eb;
      border-radius: 6px;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      padding-left: 0; }
      .al-header-nav > ul > li .submenu-wrapper a {
        min-width: 260px;
        padding: 10px 25px;
        text-transform: capitalize;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .al-header-nav > ul > li .submenu-wrapper a:hover {
          background-color: #f3f4f6; }
    .al-header-nav > ul > li:hover > a {
      color: #ffffff; }
    .al-header-nav > ul > li:hover::after {
      color: #ffffff; }
    .al-header-nav > ul > li:hover .submenu-wrapper {
      top: 100%;
      opacity: 1;
      visibility: visible; }

.al-header-btn-log {
  font-size: 19px;
  font-weight: 500;
  color: #033365;
  background: transparent; }
  .al-header-btn-log:hover {
    color: #ffffff; }

.al-header-btn-sign {
  font-size: 19px;
  font-weight: 500;
  color: #033365;
  background: -webkit-linear-gradient(180.87deg, rgba(255, 255, 255, 0.5) 7.91%, #FFFFFF 99.27%);
  background: -o-linear-gradient(180.87deg, rgba(255, 255, 255, 0.5) 7.91%, #FFFFFF 99.27%);
  background: linear-gradient(269.13deg, rgba(255, 255, 255, 0.5) 7.91%, #FFFFFF 99.27%);
  padding: 12px 35px;
  border-radius: 70px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .al-header-btn-sign:hover {
    background: -webkit-linear-gradient(349.87deg, rgba(255, 255, 255, 0.5) 7.91%, #FFFFFF 99.27%);
    background: -o-linear-gradient(349.87deg, rgba(255, 255, 255, 0.5) 7.91%, #FFFFFF 99.27%);
    background: linear-gradient(100.13deg, rgba(255, 255, 255, 0.5) 7.91%, #FFFFFF 99.27%); }

.al-header-user {
  width: 45px;
  height: 45px;
  border-radius: 70px;
  background: -webkit-linear-gradient(180.21deg, rgba(255, 255, 255, 0.4) 7.95%, rgba(255, 255, 255, 0.7) 99.82%);
  background: -o-linear-gradient(180.21deg, rgba(255, 255, 255, 0.4) 7.95%, rgba(255, 255, 255, 0.7) 99.82%);
  background: linear-gradient(269.79deg, rgba(255, 255, 255, 0.4) 7.95%, rgba(255, 255, 255, 0.7) 99.82%);
  opacity: 0.7;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.mobile-toggle .header_toggle_btn span {
  width: 32px;
  height: 2px;
  display: block;
  background: #02274D; }
  .mobile-toggle .header_toggle_btn span + span {
    margin-top: 8px; }

/******Header Home page Bottom End *********/
/******Header Single Start *********/
.al-header-single {
  padding: 44px 0 0 0;
  position: relative;
  z-index: 2; }

/******Header Single End *********/
/************************ mobile menu start ****************/
.mobile-menu {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -410px;
  background-color: #ffffff;
  z-index: 60;
  padding: 18px 24px;
  overflow-y: scroll;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (max-width: 575.98px) {
    .mobile-menu {
      width: 280px; } }
  .mobile-menu .close {
    position: absolute;
    right: 37px;
    top: 20px;
    color: #033365; }
  .mobile-menu .mobile-nav-menu {
    margin-top: 20px; }
    .mobile-menu .mobile-nav-menu li + li {
      border-top: 1px solid #E8E8E8; }
    .mobile-menu .mobile-nav-menu li a {
      display: inline-block;
      color: #033365;
      padding: 15px 0; }
    .mobile-menu .mobile-nav-menu li.has-submenu {
      position: relative; }
      .mobile-menu .mobile-nav-menu li.has-submenu > i {
        position: absolute;
        right: 0;
        top: 15px;
        padding: 8px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .mobile-menu .mobile-nav-menu li.has-submenu > i.icon-rotate {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
      .mobile-menu .mobile-nav-menu li.has-submenu > .submenu-wrapper {
        padding-left: 15px;
        display: none;
        -webkit-transition: initial;
        -o-transition: initial;
        transition: initial; }
  .mobile-menu.active {
    right: 0; }

/******Header Home page *********/
.template-btn {
  padding: 1px 18px;
  font-size: 22px;
  line-height: 42px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  border-radius: 70px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .template-btn i {
    font-size: 28px;
    color: #033365;
    display: inline-block;
    margin-left: 30px;
    margin-right: 5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 5px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.primary-btn {
  background-color: #ffffff;
  color: #033365;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .primary-btn::before {
    content: "";
    position: absolute;
    left: -90px;
    top: -135%;
    width: 190%;
    height: 135%;
    background-color: #000000;
    z-index: -1;
    border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .primary-btn:hover {
    background-color: transparent;
    color: #ffffff; }
    .primary-btn:hover i {
      color: #ffffff; }
    .primary-btn:hover::before {
      top: -10px; }

/********* Footer Page *********/
/********* Footer Section Start *********/
.al-footer-top-shape {
  background: -webkit-radial-gradient(0% 0.72%, 95.6% 141.23%, #EF8E82 26.04%, #9952F9 51.04%, #F2C46E 100%);
  background: -o-radial-gradient(0% 0.72%, 95.6% 141.23%, #EF8E82 26.04%, #9952F9 51.04%, #F2C46E 100%);
  background: radial-gradient(95.6% 141.23% at 0% 0.72%, #EF8E82 26.04%, #9952F9 51.04%, #F2C46E 100%);
  -webkit-clip-path: polygon(100% 11%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 11%, 100% 100%, 0 100%, 0 0);
  position: absolute;
  z-index: 100;
  top: 150px;
  left: 0;
  width: 100%;
  height: 15px;
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg); }

.al-footer-section {
  padding: 250px 0 25px 0;
  position: relative;
  z-index: 1;
  background: -webkit-linear-gradient(284.02deg, #02274D 9.09%, #001B37 83.19%);
  background: -o-linear-gradient(284.02deg, #02274D 9.09%, #001B37 83.19%);
  background: linear-gradient(165.98deg, #02274D 9.09%, #001B37 83.19%);
  -webkit-clip-path: polygon(100% 11%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 11%, 100% 100%, 0 100%, 0 0); }
  @media (max-width: 767.98px) {
    .al-footer-section {
      -webkit-clip-path: polygon(100% 7%, 100% 100%, 0 100%, 0 0);
      clip-path: polygon(100% 7%, 100% 100%, 0 100%, 0 0); } }
  @media (max-width: 575.98px) {
    .al-footer-section {
      -webkit-clip-path: polygon(100% 4%, 100% 100%, 0 100%, 0 0);
      clip-path: polygon(100% 4%, 100% 100%, 0 100%, 0 0); } }

.al-footer-shape-01 {
  position: absolute;
  left: 0;
  bottom: 60px;
  -webkit-animation: bounce2 2s infinite;
  animation: bounce2 2s infinite; }
  @media (max-width: 991.98px) {
    .al-footer-shape-01 {
      display: none; } }

.al-footer-shape-02 {
  position: absolute;
  right: 0;
  bottom: 60px;
  z-index: 1; }
  @media (max-width: 991.98px) {
    .al-footer-shape-02 {
      bottom: 150px; } }
  @media (max-width: 575.98px) {
    .al-footer-shape-02 {
      bottom: 200px; } }

.al-footer-shape-03 {
  position: absolute;
  right: 40px;
  bottom: 60px;
  z-index: 2; }
  @media (max-width: 991.98px) {
    .al-footer-shape-03 {
      bottom: 150px; } }
  @media (max-width: 575.98px) {
    .al-footer-shape-03 {
      bottom: 200px;
      right: 5px; } }

.al-footer-shape-04 {
  position: absolute;
  left: 40%;
  bottom: 260px;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }
  @media (max-width: 991.98px) {
    .al-footer-shape-04 {
      display: none; } }

.al-footer-top {
  margin-bottom: 320px; }
  @media (max-width: 991.98px) {
    .al-footer-top {
      margin-bottom: 400px; } }

@media (max-width: 991.98px) {
  .al-footer-widget-newsletter {
    text-align: center; } }

.al-footer-widget-newsletter-title h4 {
  font-weight: 700;
  color: #ffffff;
  line-height: 61px; }
  @media (max-width: 575.98px) {
    .al-footer-widget-newsletter-title h4 {
      line-height: 49px; } }

.al-footer-widget-newsletter-subtitle p {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 36px;
  max-width: 400px; }
  @media (max-width: 991.98px) {
    .al-footer-widget-newsletter-subtitle p {
      margin: 0 auto; } }
  @media (max-width: 575.98px) {
    .al-footer-widget-newsletter-subtitle p {
      font-size: 20px;
      line-height: 49px; } }

.al-footer-widget-email-wrapper {
  margin-top: 26px;
  margin-bottom: 50px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  overflow: hidden;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .al-footer-widget-email-wrapper .al-email-input {
    color: #ffffff;
    padding: 18px;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    border: none;
    outline: none;
    width: 280px; }
    @media (max-width: 575.98px) {
      .al-footer-widget-email-wrapper .al-email-input {
        width: 240px; } }
  .al-footer-widget-email-wrapper .al-email-button {
    background: white;
    border: none;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .al-footer-widget-email-wrapper .al-email-button i {
      font-size: 20px;
      color: #033365; }
    .al-footer-widget-email-wrapper .al-email-button:hover {
      background-color: #7C458F; }
      .al-footer-widget-email-wrapper .al-email-button:hover i {
        color: #ffffff; }
  @media (max-width: 991.98px) {
    .al-footer-widget-email-wrapper {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.al-email-input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1; }

.al-email-input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1; }

.al-email-input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1; }

.al-email-input::placeholder {
  color: #ffffff;
  opacity: 1; }

@media (max-width: 991.98px) {
  .al-footer-widget-social ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.al-footer-widget-social ul li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 13px;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (max-width: 575.98px) {
    .al-footer-widget-social ul li a {
      width: 55px;
      height: 55px; } }
  .al-footer-widget-social ul li a i {
    color: #191957;
    font-size: 30px; }
  .al-footer-widget-social ul li a:hover {
    background-color: #7C458F; }
    .al-footer-widget-social ul li a:hover i {
      color: #ffffff; }

@media (max-width: 575.98px) {
  .al-footer-widget-content-none {
    display: none; } }

.al-footer-widget-title h5 {
  font-size: 19px;
  line-height: 34px;
  color: #ffffff;
  font-weight: 700; }
  @media (max-width: 1199.98px) {
    .al-footer-widget-title h5 {
      font-size: 17px; } }

.al-footer-widget-content li a {
  font-size: 20px;
  line-height: 64px;
  color: #ffffff;
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .al-footer-widget-content li a:hover {
    color: #7C458F; }
  @media (max-width: 767.98px) {
    .al-footer-widget-content li a {
      line-height: 50px; } }

.al-footer-widget-accordion {
  display: none; }
  @media (max-width: 575.98px) {
    .al-footer-widget-accordion {
      display: block; } }

.al-footer-accordion .accordion-item {
  border: 0;
  margin-bottom: 25px;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2); }
  .al-footer-accordion .accordion-item .accordion-header {
    margin-bottom: 20px; }
    .al-footer-accordion .accordion-item .accordion-header .accordion-button {
      font-size: 19px;
      line-height: 34px;
      font-weight: 700;
      background-color: transparent;
      color: #ffffff;
      outline: none;
      border: none;
      padding: 0 0 2px 0; }
      .al-footer-accordion .accordion-item .accordion-header .accordion-button::after {
        background: none;
        content: "\f107";
        font-family: "FontAwesome";
        width: auto;
        height: auto; }
    .al-footer-accordion .accordion-item .accordion-header .accordion-button:focus {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .al-footer-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
      color: #ffffff;
      -webkit-box-shadow: 0 0 0 0;
      box-shadow: 0 0 0 0; }
    .al-footer-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
      -webkit-transform: rotate(180deg) !important;
      -ms-transform: rotate(180deg) !important;
      transform: rotate(180deg) !important;
      width: 55px;
      height: 55px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: rgba(111, 104, 191, 0.1);
      border-radius: 50%;
      position: relative;
      right: -12px; }
  .al-footer-accordion .accordion-item .accordion-body {
    padding: 0 20px 0 0; }
    .al-footer-accordion .accordion-item .accordion-body p {
      font-size: 22px;
      line-height: 37px;
      color: #033365;
      font-weight: 400; }

.al-footer-accordion .accordion-item:last-child {
  border-bottom: none; }

.al-footer-copyright-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767.98px) {
    .al-footer-copyright-content {
      display: block;
      text-align: center; } }

.al-footer-copyright p {
  font-size: 19px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.6); }

.al-footer-copyright-item ul {
  list-style-type: disc; }
  @media (max-width: 767.98px) {
    .al-footer-copyright-item ul {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .al-footer-copyright-item ul li a {
    font-size: 19px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .al-footer-copyright-item ul li a:hover {
      color: #7C458F; }

.al-footer-copyright-item ul li::marker {
  color: rgba(255, 255, 255, 0.6); }

/********* Footer Section End *********/
/******** pages file **********/
/******Home Page*********/
/****** Hero Section Start *********/
.al-hero-section {
  padding: 120px 0 180px 0;
  position: relative;
  margin-top: -95px;
  margin-bottom: -150px;
  z-index: 1;
  background: -webkit-linear-gradient(344.99deg, #FFC2BA 8.31%, #C59AFF 99.75%);
  background: -o-linear-gradient(344.99deg, #FFC2BA 8.31%, #C59AFF 99.75%);
  background: linear-gradient(105.01deg, #FFC2BA 8.31%, #C59AFF 99.75%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87%); }
  @media (max-width: 991.98px) {
    .al-hero-section {
      margin-bottom: -230px; } }
  @media (max-width: 767.98px) {
    .al-hero-section {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      padding: 120px 0 100px 0; } }
  @media (max-width: 575.98px) {
    .al-hero-section {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
      padding: 120px 0 60px 0; } }

@media (max-width: 991.98px) {
  .al-hero-left {
    text-align: center; } }

.al-hero-title h1 {
  background: -webkit-linear-gradient(351.17deg, #7C458F 38.91%, #E73771 57.22%);
  background: -o-linear-gradient(351.17deg, #7C458F 38.91%, #E73771 57.22%);
  background: linear-gradient(98.83deg, #7C458F 38.91%, #E73771 57.22%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 84px; }
  @media (max-width: 1399.98px) {
    .al-hero-title h1 {
      font-size: 65px;
      line-height: 65px; } }
  @media (max-width: 1199.98px) {
    .al-hero-title h1 {
      font-size: 50px;
      line-height: 55px; } }
  @media (max-width: 460px) {
    .al-hero-title h1 {
      font-size: 40px;
      line-height: 50px; } }

.al-hero-subtitle {
  margin-top: 11px;
  margin-bottom: 104px; }
  .al-hero-subtitle p {
    font-size: 25px;
    line-height: 42px;
    max-width: 710px; }
    @media (max-width: 1399.98px) {
      .al-hero-subtitle p {
        max-width: 600px; } }
    @media (max-width: 1199.98px) {
      .al-hero-subtitle p {
        max-width: 400px; } }
    @media (max-width: 991.98px) {
      .al-hero-subtitle p {
        margin: 0 auto;
        max-width: 500px; } }
    @media (max-width: 460px) {
      .al-hero-subtitle p {
        font-size: 20px;
        line-height: 35px; } }
  @media (max-width: 991.98px) {
    .al-hero-subtitle {
      margin-bottom: 40px; } }

@media (max-width: 991.98px) {
  .al-hero-right {
    text-align: center; } }

.al-hero-card {
  background: -webkit-linear-gradient(276.03deg, rgba(124, 69, 143, 0.8) 4.97%, rgba(231, 55, 113, 0) 84.48%);
  background: -o-linear-gradient(276.03deg, rgba(124, 69, 143, 0.8) 4.97%, rgba(231, 55, 113, 0) 84.48%);
  background: linear-gradient(173.97deg, rgba(124, 69, 143, 0.8) 4.97%, rgba(231, 55, 113, 0) 84.48%);
  border-radius: 50px;
  padding: 30px;
  max-width: 429px;
  display: inline-block;
  position: relative; }
  @media (max-width: 991.98px) {
    .al-hero-card {
      margin-bottom: 60px; } }
  @media (max-width: 767.98px) {
    .al-hero-card {
      margin-bottom: 120px; } }
  @media (max-width: 575.98px) {
    .al-hero-card {
      margin-bottom: 150px; } }

.al-hero-card-title {
  margin-bottom: 25px; }
  .al-hero-card-title h5 {
    font-size: 22px;
    line-height: 31px;
    font-weight: 500;
    color: #ffffff;
    max-width: 265px; }
    @media (max-width: 575.98px) {
      .al-hero-card-title h5 {
        max-width: 280px; } }

.al-hero-card-item {
  background-color: #C8FFE9;
  padding: 14px 33px;
  border-radius: 60px;
  min-width: 273px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 3;
  left: -47px; }

@media (max-width: 500px) {
  .al-hero-card-item-one {
    z-index: 1; } }

.al-hero-card-item-two {
  background-color: #D9F2FF;
  left: -60px; }
  @media (max-width: 500px) {
    .al-hero-card-item-two {
      max-width: 240px;
      padding: 14px 32px;
      left: -76px;
      min-width: auto; } }

.al-hero-card-item-three {
  background-color: #FFE1DE;
  left: -70px; }
  @media (max-width: 500px) {
    .al-hero-card-item-three {
      max-width: 210px;
      padding: 8px 32px;
      left: -76px;
      min-width: auto; } }

.al-hero-card-item-four {
  background-color: #FFE2BF;
  left: -80px; }
  @media (max-width: 500px) {
    .al-hero-card-item-four {
      max-width: 220px;
      padding: 8px 14px;
      left: -72px;
      min-width: auto; } }

.al-hero-card-item-title h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 34px; }

@media (max-width: 500px) {
  .al-hero-card-item-title-one {
    text-align: start; }
    .al-hero-card-item-title-one h6 {
      line-height: 30px; } }

@media (max-width: 500px) {
  .al-hero-card-item-title-two {
    text-align: start; }
    .al-hero-card-item-title-two h6 {
      line-height: 30px; } }

.al-hero-card-coin {
  margin-top: 70px; }
  @media (max-width: 575.98px) {
    .al-hero-card-coin {
      margin-top: 50px; } }
  .al-hero-card-coin h4 {
    font-size: 23.25px;
    line-height: 60px;
    color: #033365; }
    .al-hero-card-coin h4 span {
      background: -webkit-linear-gradient(1.62deg, #7E1FFF 8.12%, #FF49B6 82.18%);
      background: -o-linear-gradient(1.62deg, #7E1FFF 8.12%, #FF49B6 82.18%);
      background: linear-gradient(88.38deg, #7E1FFF 8.12%, #FF49B6 82.18%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent; }
    @media (max-width: 575.98px) {
      .al-hero-card-coin h4 {
        font-size: 17px; } }

.al-hero-thumb {
  position: absolute;
  right: -25px;
  top: 17px;
  display: inline-block;
  z-index: 2; }
  @media (max-width: 575.98px) {
    .al-hero-thumb {
      display: none; } }

.al-hero-thumb-two {
  display: none;
  position: absolute;
  right: -16px;
  top: 86px;
  z-index: 2; }
  @media (max-width: 575.98px) {
    .al-hero-thumb-two {
      display: block; } }

.al-hero-shape {
  position: absolute;
  right: -66px;
  bottom: 126px;
  display: inline-block;
  z-index: 1; }
  @media (max-width: 1260px) {
    .al-hero-shape {
      right: -40px; } }
  @media (max-width: 991.98px) {
    .al-hero-shape {
      display: none; } }

.al-hero-shape-two {
  position: absolute;
  right: -52px;
  bottom: 126px;
  display: inline-block;
  z-index: 1; }
  @media (max-width: 1199.98px) {
    .al-hero-shape-two {
      right: -40px; } }
  @media (max-width: 575.98px) {
    .al-hero-shape-two {
      right: -10px; } }
  @media (max-width: 500px) {
    .al-hero-shape-two {
      bottom: 200px; } }
  @media (max-width: 460px) {
    .al-hero-shape-two {
      bottom: 140px; } }

.al-hero-coin-one {
  position: absolute;
  right: -34px;
  top: 146px;
  display: inline-block;
  z-index: 1; }
  @media (max-width: 991.98px) {
    .al-hero-coin-one {
      display: none; } }

.al-hero-coin-two {
  position: absolute;
  right: 163px;
  bottom: 225px;
  display: inline-block;
  z-index: 1; }
  @media (max-width: 991.98px) {
    .al-hero-coin-two {
      display: none; } }

.al-hero-coin-three {
  position: absolute;
  right: 142px;
  top: 176px;
  display: inline-block;
  z-index: 1; }
  @media (max-width: 575.98px) {
    .al-hero-coin-three {
      right: 110px;
      top: 220px; } }
  @media (max-width: 460px) {
    .al-hero-coin-three {
      right: 121px;
      top: 224px;
      z-index: 3; } }

.al-hero-coin-four {
  position: absolute;
  right: 151px;
  top: 72px;
  display: inline-block;
  z-index: 1; }
  @media (max-width: 575.98px) {
    .al-hero-coin-four {
      right: 130px;
      top: 80px; } }
  @media (max-width: 460px) {
    .al-hero-coin-four {
      right: 102px;
      top: 89px; } }

/****** Hero Section End *********/
/****** Card Section Start *********/
.al-card-section {
  position: relative;
  margin-top: -169px;
  margin-bottom: -279px;
  z-index: 3; }

.card-slider {
  margin-left: 250px; }
  @media (max-width: 1700px) {
    .card-slider {
      margin-left: 200px; } }
  @media (max-width: 1600px) {
    .card-slider {
      margin-left: 150px; } }
  @media (max-width: 1399.98px) {
    .card-slider {
      margin-left: 100px; } }
  @media (max-width: 1199.98px) {
    .card-slider {
      margin-left: 30px; } }

.al-card-content {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 20px 20px 20px;
  border-radius: 28px;
  min-height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.al-card-content-thumb-one {
  margin-top: 20px; }

.al-card-content-thumb-two {
  margin-top: 30px; }

.al-card-content-thumb-three {
  margin-top: 70px; }

.al-card-content-thumb-four {
  margin-top: 40px; }

.al-card-content-title {
  text-align: center;
  margin-top: auto;
  margin-bottom: 0; }
  .al-card-content-title h6 {
    font-size: 20px;
    line-height: 28px; }
    @media (max-width: 1600px) {
      .al-card-content-title h6 {
        font-size: 16px; } }

/****** Card Section End *********/
/****** About Section Start *********/
.al-about-section {
  background-color: #F9EEF3;
  -webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
  padding: 370px 0 480px 0;
  position: relative;
  z-index: 1; }

.al-about-top {
  margin-bottom: 60px; }
  @media (max-width: 575.98px) {
    .al-about-top {
      margin-bottom: 30px; } }

.al-about-top-subtitle h6 {
  display: inline-block;
  position: relative; }
  .al-about-top-subtitle h6 span {
    background: -webkit-linear-gradient(351.17deg, #9F56B9 38.91%, #E9447B 57.22%);
    background: -o-linear-gradient(351.17deg, #9F56B9 38.91%, #E9447B 57.22%);
    background: linear-gradient(98.83deg, #9F56B9 38.91%, #E9447B 57.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; }
  .al-about-top-subtitle h6 img {
    position: absolute;
    right: -35px;
    top: -18px; }
    @media (max-width: 575.98px) {
      .al-about-top-subtitle h6 img {
        right: 8px;
        top: 15px; } }
  @media (max-width: 575.98px) {
    .al-about-top-subtitle h6 {
      font-size: 18px;
      max-width: 245px; } }

.al-about-top-title {
  margin-top: 10px;
  margin-bottom: 16px; }
  .al-about-top-title h2 {
    line-height: 61px; }
    .al-about-top-title h2 span {
      color: #7C458F; }
    @media (max-width: 575.98px) {
      .al-about-top-title h2 {
        font-size: 45px;
        line-height: 43px; } }

.al-about-para p {
  font-size: 24px;
  line-height: 36px;
  max-width: 750px;
  margin: 0 auto; }
  @media (max-width: 575.98px) {
    .al-about-para p {
      font-size: 20px;
      line-height: 30px; } }

.our-slider {
  padding: 0 120px;
  position: relative;
  z-index: 1; }
  .our-slider::before {
    position: absolute;
    left: 120px;
    top: 0;
    content: "";
    width: 246px;
    height: 100%;
    background: -webkit-linear-gradient(178.54deg, rgba(249, 238, 243, 0) 26.37%, #F9EEF3 77.35%);
    background: -o-linear-gradient(178.54deg, rgba(249, 238, 243, 0) 26.37%, #F9EEF3 77.35%);
    background: linear-gradient(271.46deg, rgba(249, 238, 243, 0) 26.37%, #F9EEF3 77.35%);
    z-index: 2; }
    @media (max-width: 1199.98px) {
      .our-slider::before {
        display: none; } }
  .our-slider::after {
    position: absolute;
    right: 120px;
    top: 0;
    content: "";
    width: 246px;
    height: 100%;
    background: -webkit-linear-gradient(178.54deg, #F9EEF3 26.37%, rgba(249, 238, 243, 0) 77.35%);
    background: -o-linear-gradient(178.54deg, #F9EEF3 26.37%, rgba(249, 238, 243, 0) 77.35%);
    background: linear-gradient(271.46deg, #F9EEF3 26.37%, rgba(249, 238, 243, 0) 77.35%);
    z-index: 2; }
    @media (max-width: 1199.98px) {
      .our-slider::after {
        display: none; } }
  @media (max-width: 1199.98px) {
    .our-slider {
      padding: 0 60px; } }
  @media (max-width: 991.98px) {
    .our-slider {
      padding: 0; } }

.al-about-item {
  margin-top: 60px;
  margin-bottom: 60px; }
  @media (max-width: 575.98px) {
    .al-about-item {
      margin-top: 30px;
      margin-bottom: 0; } }

.al-about-card {
  background-color: #ffffff;
  padding: 43px 35px;
  border-radius: 32px;
  text-align: center; }

.al-about-card-title {
  margin-top: 42px; }
  .al-about-card-title h5 {
    font-size: 21px;
    line-height: 30px;
    font-weight: 500; }
    @media (max-width: 1260px) {
      .al-about-card-title h5 {
        font-size: 19px;
        line-height: 22px; } }
    @media (max-width: 991.98px) {
      .al-about-card-title h5 {
        font-size: 14px; } }
    @media (max-width: 767.98px) {
      .al-about-card-title h5 {
        font-size: 20px; } }

@media (max-width: 575.98px) {
  .al-about-btn {
    display: none; } }

/****** About Section End *********/
/****** Feature Section Start *********/
.al-feature-section {
  position: relative;
  z-index: 2;
  margin-top: -400px;
  margin-bottom: -450px; }
  @media (max-width: 575.98px) {
    .al-feature-section {
      margin-top: -430px;
      margin-bottom: -460px; } }

.al-feature-content {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  margin-left: 100px;
  border-radius: 50px 0 0 50px;
  position: relative;
  z-index: 1; }
  @media (max-width: 767.98px) {
    .al-feature-content {
      margin-left: 20px;
      padding: 40px 0 100px 0; } }
  .al-feature-content .swiper-button-next {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff;
    right: 140px;
    top: 150px;
    z-index: 2;
    color: #000000;
    opacity: 1; }
    .al-feature-content .swiper-button-next::after {
      font-size: 20px; }
    @media (max-width: 991.98px) {
      .al-feature-content .swiper-button-next {
        display: none; } }
  .al-feature-content .swiper-button-prev {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff;
    right: 215px;
    top: 150px;
    left: auto;
    z-index: 2;
    color: #000000;
    opacity: 1; }
    .al-feature-content .swiper-button-prev::after {
      font-size: 20px; }
    @media (max-width: 991.98px) {
      .al-feature-content .swiper-button-prev {
        display: none; } }
  .al-feature-content .swiper-pagination-progressbar {
    width: 90%;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    bottom: -50px;
    top: auto;
    z-index: 100;
    opacity: 1; }
    .al-feature-content .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background: #40ACC1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      z-index: 100;
      opacity: 1; }

.al-feature-content-title {
  margin-bottom: 40px;
  margin-left: 50px; }
  @media (max-width: 991.98px) {
    .al-feature-content-title {
      margin-left: 20px; } }
  .al-feature-content-title h2 {
    color: #ffffff; }
    @media (max-width: 575.98px) {
      .al-feature-content-title h2 {
        font-size: 45px; } }

.al-feature-slider {
  margin-left: 50px;
  position: relative;
  z-index: 1; }
  @media (max-width: 991.98px) {
    .al-feature-slider {
      margin-left: 20px; } }

.al-feature-card-top {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 24px 24px 0 0; }

.al-feature-card-thumb {
  position: relative; }
  .al-feature-card-thumb img {
    width: 100%; }

.al-feature-card-off {
  background-color: #586BD0;
  padding: 1px 10px;
  border-radius: 44px;
  position: absolute;
  left: 10px;
  top: 15px; }

.al-feature-card-off-two {
  background-color: #FBDCCE; }

.al-feature-card-off-title span {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  color: #033365; }

.al-feature-card-heart {
  width: 40px;
  height: 40px;
  background-color: #EEF6F7;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 15px; }
  .al-feature-card-heart i {
    color: #F96668; }

.al-feature-card-top-content {
  padding: 10px; }

.al-feature-card-top-content-sold span {
  font-size: 17px;
  font-weight: 500;
  color: rgba(3, 50, 101, 0.5); }

.al-feature-card-top-content-title {
  margin-top: 6px;
  margin-bottom: 14px; }
  .al-feature-card-top-content-title h5 {
    max-width: 240px; }
    @media (max-width: 1600px) {
      .al-feature-card-top-content-title h5 {
        font-size: 20px; } }
    @media (max-width: 1100px) {
      .al-feature-card-top-content-title h5 {
        font-size: 17px; } }

.al-feature-card-top-content-number span {
  font-size: 20px;
  font-weight: 600;
  color: #033365; }
  @media (max-width: 1700px) {
    .al-feature-card-top-content-number span {
      font-size: 15px; } }

.al-feature-card-top-content-number del {
  font-size: 20px;
  font-weight: 500;
  color: #8194A3; }
  @media (max-width: 1700px) {
    .al-feature-card-top-content-number del {
      font-size: 15px; } }

.al-feature-card-top-content-number-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px; }
  @media (max-width: 575.98px) {
    .al-feature-card-top-content-number-icon {
      display: none; } }

.al-feature-card-top-content-number-icon-content h4 {
  font-size: 14px;
  line-height: 16px;
  color: #2E9865; }

.al-feature-card-top-content-number-icon-content h5 {
  font-size: 14px;
  line-height: 14px; }

.al-feature-card-bottom {
  background-color: #586BD0;
  padding: 20px;
  border-radius: 0 0 24px 24px; }
  .al-feature-card-bottom span {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff; }

.al-feature-card-bottom-two {
  background-color: #EF8D76; }

/****** Feature Section End *********/
/****** Reward Section Start *********/
.al-reward-section {
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
  padding: 500px 0 900px 0;
  position: relative;
  z-index: 1; }

.al-reward-shape {
  position: absolute;
  right: 36px;
  bottom: 600px;
  z-index: 1; }
  @media (max-width: 767.98px) {
    .al-reward-shape {
      display: none; } }

.al-reward-top {
  margin-bottom: 60px; }
  @media (max-width: 767.98px) {
    .al-reward-top {
      margin-bottom: 37px; } }

.al-reward-top-title h2 {
  line-height: 61px;
  max-width: 650px;
  margin: 0 auto; }
  .al-reward-top-title h2 span {
    color: #7C458F; }
  @media (max-width: 767.98px) {
    .al-reward-top-title h2 {
      font-size: 50px;
      line-height: 50px; } }
  @media (max-width: 575.98px) {
    .al-reward-top-title h2 {
      font-size: 36px;
      line-height: 43px; } }

.al-reward-para p {
  font-size: 24px;
  line-height: 36px; }
  @media (max-width: 575.98px) {
    .al-reward-para p {
      font-size: 20px;
      line-height: 29px; } }

.al-reward-card {
  background-color: #F8CAC9;
  padding: 60px 25px 30px 25px;
  border-radius: 30px; }
  @media (max-width: 1399.98px) {
    .al-reward-card {
      padding: 50px 15px 25px 20px; } }
  @media (max-width: 767.98px) {
    .al-reward-card {
      padding: 30px 10px 15px 15px; } }

.al-reward-card-color {
  background-color: #9EE7B0; }

.al-reward-card-content-title h5 {
  font-size: 22px; }

.al-reward-card-content-title h6 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500; }
  @media (max-width: 1460px) {
    .al-reward-card-content-title h6 {
      font-size: 15px; } }

.al-reward-card-content-icon a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .al-reward-card-content-icon a i {
    color: #033365;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .al-reward-card-content-icon a:hover {
    background-color: #7C458F; }
    .al-reward-card-content-icon a:hover i {
      color: #ffffff; }

/****** Reward Section End *********/
/****** Testimonial Section Start *********/
.al-testimonial-section {
  position: relative;
  z-index: 2;
  margin-top: -820px;
  margin-bottom: -340px; }
  @media (max-width: 575.98px) {
    .al-testimonial-section {
      margin-top: -890px; } }

.al-testimonial-content {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0;
  border-radius: 50px;
  position: relative; }
  @media (max-width: 575.98px) {
    .al-testimonial-content {
      padding: 80px 0 110px 0; } }

.al-testimonial-shape {
  position: absolute;
  top: 47px;
  right: 84px; }
  @media (max-width: 991.98px) {
    .al-testimonial-shape {
      display: none; } }

.al-testimonial-title h3 {
  line-height: 60px;
  color: #ffffff;
  max-width: 870px;
  margin: 0 auto; }
  .al-testimonial-title h3 span {
    background: -webkit-linear-gradient(352.7deg, #AF59CC 16.54%, #E9447B 71.36%);
    background: -o-linear-gradient(352.7deg, #AF59CC 16.54%, #E9447B 71.36%);
    background: linear-gradient(97.3deg, #AF59CC 16.54%, #E9447B 71.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; }
  @media (max-width: 575.98px) {
    .al-testimonial-title h3 {
      font-size: 36px;
      line-height: 43px; } }

.al-testimonial-slider {
  margin-left: 50px; }
  @media (max-width: 767.98px) {
    .al-testimonial-slider {
      margin-left: 20px; } }

.al-testimonial-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 30px; }
  @media (max-width: 767.98px) {
    .al-testimonial-card {
      padding: 20px 35px 20px 20px; } }

.al-testimonial-card-para p {
  font-size: 22px;
  line-height: 37px; }
  @media (max-width: 575.98px) {
    .al-testimonial-card-para p {
      font-size: 15px;
      line-height: 24px; } }

.al-testimonial-card-content-item-title h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px; }
  @media (max-width: 575.98px) {
    .al-testimonial-card-content-item-title h5 {
      font-size: 15px;
      line-height: 24px; } }

.al-testimonial-card-content-item-check-title {
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .al-testimonial-card-content-item-check-title h6 {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: #02274D; }
    @media (max-width: 575.98px) {
      .al-testimonial-card-content-item-check-title h6 {
        font-size: 14px;
        line-height: 24px; } }

.al-testimonial-default {
  padding: 14px 28px; }
  .al-testimonial-default img {
    margin-right: 10px; }
  @media (max-width: 400px) {
    .al-testimonial-default {
      padding: 14px; } }

/****** Testimonial Section End *********/
/****** Faq Section Start *********/
.al-faq-section {
  background-color: #F9EEF3;
  -webkit-clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%);
  padding: 370px 0 610px 0;
  position: relative;
  z-index: 1; }

.al-faq-top {
  margin-bottom: 70px; }
  @media (max-width: 991.98px) {
    .al-faq-top {
      margin-bottom: 50px; } }
  @media (max-width: 575.98px) {
    .al-faq-top {
      margin-bottom: 30px; } }
  .al-faq-top h2 {
    line-height: 61px;
    max-width: 480px;
    margin: 0 auto; }
    @media (max-width: 575.98px) {
      .al-faq-top h2 {
        font-size: 40px;
        line-height: 45px; } }

.al-faq-thumb {
  margin-left: 75px; }
  @media (max-width: 1399.98px) {
    .al-faq-thumb {
      margin-left: 0; } }
  @media (max-width: 991.98px) {
    .al-faq-thumb img {
      width: 100%; } }

.al-faq-accordion .accordion-item {
  border: 0;
  margin-bottom: 15px;
  background-color: transparent; }
  .al-faq-accordion .accordion-item .accordion-header .accordion-button {
    font-size: 22px;
    line-height: 40px;
    font-weight: 600;
    background: transparent;
    color: #033365;
    outline: none;
    border: none;
    padding: 0 0 27px 0;
    max-width: 600px; }
    @media (max-width: 1050px) {
      .al-faq-accordion .accordion-item .accordion-header .accordion-button {
        padding: 0 0 5px 0;
        font-size: 20px;
        line-height: 28px; } }
    @media (max-width: 991.98px) {
      .al-faq-accordion .accordion-item .accordion-header .accordion-button {
        max-width: 100%; } }
    .al-faq-accordion .accordion-item .accordion-header .accordion-button::after {
      background: none;
      content: "\f107";
      font-family: "FontAwesome";
      width: auto;
      height: auto; }
  .al-faq-accordion .accordion-item .accordion-header .accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }
  .al-faq-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    color: #A040C1;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0; }
  .al-faq-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
    -webkit-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
    width: 80px;
    height: 80px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(111, 104, 191, 0.1);
    border-radius: 50%;
    position: relative;
    right: -32px; }
    @media (max-width: 1399.98px) {
      .al-faq-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
        width: 60px;
        height: 60px;
        right: -25px; } }
    @media (max-width: 767.98px) {
      .al-faq-accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
        width: 45px;
        height: 45px;
        right: -17px; } }
  .al-faq-accordion .accordion-item .accordion-body {
    padding: 0 80px 0 0; }
    @media (max-width: 1050px) {
      .al-faq-accordion .accordion-item .accordion-body {
        padding: 0 40px 0 0; } }
    @media (max-width: 575.98px) {
      .al-faq-accordion .accordion-item .accordion-body {
        padding: 0 10px 0 0; } }
    .al-faq-accordion .accordion-item .accordion-body p {
      font-size: 22px;
      line-height: 37px;
      color: #033365;
      font-weight: 400; }
      @media (max-width: 575.98px) {
        .al-faq-accordion .accordion-item .accordion-body p {
          font-size: 18px;
          line-height: 31px; } }

.al-faq-btn a {
  text-decoration: underline;
  color: #033365;
  font-size: 22px;
  font-weight: 500;
  line-height: 44px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .al-faq-btn a:hover {
    color: #7C458F; }

/****** Faq Section End *********/
/****** Deal Section Start *********/
.al-deal-section {
  position: relative;
  margin-top: -510px;
  margin-bottom: -120px;
  z-index: 2; }
  @media (max-width: 575.98px) {
    .al-deal-section {
      margin-top: -580px; } }

.al-deal-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  position: relative;
  z-index: 10;
  padding: 1px 0 10px 0; }
  @media (max-width: 1050px) {
    .al-deal-item {
      padding: 36px 20px 50px 0; } }

.al-deal-shape {
  position: absolute;
  top: -60px;
  left: 150px;
  z-index: 3;
  -webkit-animation: bounce2 2s infinite;
  animation: bounce2 2s infinite; }
  @media (max-width: 1199.98px) {
    .al-deal-shape {
      display: none; } }

.al-deal-infinity {
  position: absolute;
  bottom: -60px;
  left: 0px;
  z-index: -1; }
  @media (max-width: 1199.98px) {
    .al-deal-infinity {
      display: none; } }

.al-deal-content {
  margin-left: 120px; }
  @media (max-width: 1199.98px) {
    .al-deal-content {
      margin-left: 30px; } }

.al-deal-content-subtitle h6 {
  line-height: 24px; }
  @media (max-width: 575.98px) {
    .al-deal-content-subtitle h6 {
      font-size: 21px;
      line-height: 28px; } }

.al-deal-content-title {
  margin-top: 17px;
  margin-bottom: 40px; }
  .al-deal-content-title h3 {
    line-height: 61px;
    max-width: 550px; }
    @media (max-width: 1199.98px) {
      .al-deal-content-title h3 {
        font-size: 45px; } }
    @media (max-width: 575.98px) {
      .al-deal-content-title h3 {
        font-size: 35px;
        line-height: 42px; } }

.al-deal-thumb {
  margin-bottom: -80px; }
  @media (max-width: 991.98px) {
    .al-deal-thumb {
      margin-bottom: 40px; } }
  @media (max-width: 575.98px) {
    .al-deal-thumb {
      margin-right: -22px; } }

@media (max-width: 400px) {
  .al-deal-btn {
    margin-left: 10px; } }

@media (max-width: 400px) {
  .al-deal-default {
    padding: 1px 12px; } }

/****** Deal Section End *********/
/******Product Upload Page*********/
.al-breadcrumb-section {
  background: -webkit-linear-gradient(202.37deg, #9952F9 10.89%, #EF8E82 66.46%, #F2C46E 118.45%);
  background: -o-linear-gradient(202.37deg, #9952F9 10.89%, #EF8E82 66.46%, #F2C46E 118.45%);
  background: linear-gradient(247.63deg, #9952F9 10.89%, #EF8E82 66.46%, #F2C46E 118.45%);
  padding: 300px 0;
  position: relative;
  margin-top: -165px;
  z-index: 1; }

/******** theme file **********/
@-webkit-keyframes toTopFromBottom1 {
  49% {
    -webkit-transform: translate(100px, -100px);
    transform: translate(100px, -100px); }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px); }
  51% {
    opacity: 1; } }
@keyframes toTopFromBottom1 {
  49% {
    -webkit-transform: translate(100px, -100px);
    transform: translate(100px, -100px); }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100px, 100px);
    transform: translate(-100px, 100px); }
  51% {
    opacity: 1; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes bounce2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes bounce2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
