/******Home Page*********/

/****** About Section Start *********/
.al-about-section {
    background-color: $about-bg;
    padding: 75px 0 110px 0;
}

.al-about-top-subtitle {
    h6 {
        display: inline-block;
        position: relative;

        span {
            background: linear-gradient(98.83deg, #9F56B9 38.91%, #E9447B 57.22%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: transparent;
        }

        img {
            position: absolute;
            right: -35px;
            top: -18px;
        }
    }
}

.al-about-top-title {
    h2 {
        line-height: 61px;

        span {
            color: #7C458F;
        }
    }
}

.al-about-para {
    p {
        font-size: 24px;
        line-height: 36px;
        max-width: 750px;
        margin: 0 auto;
    }
}

.our-slider {
    margin-left: 120px;
    margin-right: 120px;
}

.al-about-card {
    background-color: $white-color;
    padding: 43px 35px;
    border-radius: 32px;
    text-align: center;
}
1111111
.al-about-card-title {
    margin-top: 42px;

    h5 {
        font-size: 21px;
        line-height: 30px;
        font-weight: 500;

        @include screen-1260 {
            font-size: 19px;
        }
    }
}

/****** About Section End *********/