/******Product Upload Page*********/

.al-breadcrumb-section {
    background: linear-gradient(247.63deg, #9952F9 10.89%, #EF8E82 66.46%, #F2C46E 118.45%);
    padding: 300px 0;
    position: relative;
    margin-top: -165px;
    z-index: 1;
}